<p>
  <strong>Owner Name:</strong>
  <%= @post.firstName %>  <%= @post.middlename %> <%= @post.lastname %> 

</p>


<p>
  <strong>Bike Company</strong>
  <%= @post.bike_company %>
</p>

<p>
<strong>Bike model:</strong>
  <%= @post.bike_model %>
</p>
 

<p>
<strong>Bike No:</strong>
  <%= @post.bike_no %>
</p>
 

